:root{

    --clr-Yellow: hsl(47, 88%, 63%);
    --clr-White: hsl(0, 0%, 100%);
    --clr-Gray-500: hsl(0, 0%, 42%);
    --clr-Gray-950: hsl(0, 0%, 7%);

    --ff:'Figtree', sans serif;
    --fs: 16px;
    --fw-500:500;
    --fw-800:800;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

@font-face{
    font-family:"Figtree" ;
    src: url(/assets/fonts/Figtree-VariableFont_wght.ttf);
}

.wrapper{
    display: grid;
    place-items: center;
    min-height: 100dvh;
    background: var(--clr-Yellow);
}

.wrapper-container{
    background: var(--clr-White);
    max-width: 25em;
    padding: 1.75em;
    border-radius: 0.6rem;
    font-family:var(--ff);
    box-shadow: 6px 6px 0 var(--clr-Gray-950);
    border-color: var(--clr-Gray-950);
}

.container-image{
    border-radius: 0.6rem;
}

.first{
    background: var(--clr-Yellow);
    margin-right: 16.5rem;
    padding: 0.5rem;
    border-radius: 0.6rem;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: var(--fs);
    font-weight: var(--fw-800);
    
}

.second{
font-size: var(--fs);
font-weight: var(--fw-800);
margin-bottom: 1em;
}

.third{
    display:block;
    font-weight: var(--fw-800);
    font-size:150%;
    margin-bottom: 1em;
}

.third:hover{
    color: var(--clr-Yellow);

}

.fourth{
    font-weight: var(--fw-500);
    color: var(--clr-Gray-500);
    font-size: 110%;
    margin-bottom: 1em;
}

.logo{
    display:inline-flex;
}

.logo-image{
    max-width: 20%;
    height: 20%;
}

.logo-name{
    padding:0.75em;
    font-weight: var(--fw-800);
}

